@mixin size() {
  width: 100px;
  height: 100px;
}

.box-1 {
  @include size();
}

// Params

@mixin size($value) {
  width: $value;
  height: $value;
}

.box-2 {
  @include size(200px);
  // @include size;
}

// Default

@mixin size($value: 100px) {
  width: $value;
  height: $value;
}

.box-3 {
  @include size(200px);
}

.box-4 {
  @include size();
}


